## Deliverable 3. Create a Travel Itinerary Map.

In [23]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")

vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Georgetown,MY,83.89,few clouds,5.4112,100.3354,Cititel Penang
1,3,Vao,NC,77.92,broken clouds,-22.6667,167.4833,Hotel Kou-Bugny
2,8,Carnarvon,AU,87.87,few clouds,-24.8667,113.6333,Hospitality Carnarvon
3,9,Noumea,NC,80.01,scattered clouds,-22.2763,166.4572,Hôtel Le Lagon
4,12,Rikitea,PF,77.88,overcast clouds,-23.1203,-134.9692,People ThankYou

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=="George Town"]
vacation_end = vacation_df.loc[vacation_df['City']=="George Town"]
vacation_stop1 = vacation_df.loc[vacation_df['City']=="Kota Bahru"]
vacation_stop2 = vacation_df.loc[vacation_df['City']=="Marang"] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=="Pontian Kecil"]

In [234]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = ((vacation_start.to_numpy())[0,5],(vacation_start.to_numpy())[0,6])
end = ((vacation_end.to_numpy())[0,5],(vacation_end.to_numpy())[0,6])
stop1 = ((vacation_stop1.to_numpy())[0,5],(vacation_stop1.to_numpy())[0,6])
stop2 = ((vacation_stop2.to_numpy())[0,5],(vacation_stop2.to_numpy())[0,6])
stop3 = ((vacation_stop3.to_numpy())[0,5],(vacation_stop3.to_numpy())[0,6])

In [235]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
intineray_py = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3],travel_mode="DRIVING")
fig.add_layer(intineray_py)
fig

Figure(layout=FigureLayout(height='420px'))

In [236]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,69,George Town,MY,83.89,few clouds,5.4112,100.3354,Cititel Penang
1,69,George Town,MY,83.89,few clouds,5.4112,100.3354,Cititel Penang
2,262,Kota Bahru,MY,78.75,few clouds,6.1333,102.2386,Grand Riverview Hotel
3,392,Marang,MY,78.71,clear sky,5.2056,103.2059,DBarakah Homestay
4,702,Pontian Kecil,MY,80.73,broken clouds,1.4801,103.3899,SUNFLOWER EXPRESS HOTEL

In [238]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [239]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))